/* 유니코드설정 */

@charset 'UTF-8';

/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;
    color: #000;}

/* 헤더설정 */
.header {width: 100%;
        height: 120px;
        background-color: #f6f5ef;
    display: flex;
    justify-content: space-around;
align-items: center;
position: fixed;
top: 0;
left: 0;}

.logo {width: 75px;
        height: 75px;
    background-image: url(https://www.starbucks.co.kr/common/img/common/logo.png);
    text-indent: -9999px;}

.gnb {width: 70%;}
.gnb ul {display: flex;
justify-content: space-between;}
.gnb li {padding: 0 10px;}

/* 비주얼설정 */
.visual {width: 100%;
        height: 640px;
        background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring2_promotion_bg_1.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    margin-top: 120px;}

/* 텍스트박스설정 */
.txtBox {width: 100%;
        height: 62px;
        display: flex;}
.txtBox article {flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;}
.txtBox .notice {background-color: #000;
                color: white;}
.txtBox .promo {background-color: #f6f5ef;}

/* 리워드설정 */
.rewards {width: 100%;
        height: 320px;
        background-color: #1e3932;}

.season {width: 100%;
        height: 640px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring_promotion_bg.jpg);}

.costa {width: 100%;
        height: 350px;
        background-size: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/230125_pc_reserve_bg.jpg);}

.pick {width: 100%;
        height: 800px;
        background-size: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring2_pick_bg.jpg);
        background-attachment: fixed;}


.reserve {width: 100%;
        height: 300px;
        background-size: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_bg_pc.png);}

.find {width: 100%;
        height: 300px;
        background-size: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://www.starbucks.co.kr/common/img/main/store_bg.jpg);}

.footer {width: 100%;
        height: 1080px;
        background-color: #2C2A29;}